.field {
  & > &__label {
    font-family: var(--font);
    font-size: 0.9rem;
    color: var(--light-text) !important;
    font-weight: 400;
  }

  & .control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
  }

  & .control .field-input,
  & .control .field-textarea,
  & .control .field-select {
    transition: all 0.3s;
  }

  & .control .field-input,
  & .control .field-select {
    height: 38px;
    line-height: 1;
  }

  & .control .field-select {
    position: relative;
  }


  & .control .field-textarea {
    height: 86px;
    min-height: 86px;
  }

  & > &__label + .control {
    margin-top: 0.5em;
  }

  & .control.has-icon .field-input,
  & .control.has-icon .field-select,
  & .control.has-icon .field-textarea {
    padding-left: 38px;
  }

  & .control.has-icon .form-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .control.has-icon .form-icon svg {
    height: 18px;
    width: 18px;
    color: var(--placeholder);
    transition: all 0.3s;
  }
}
