:root {
    // color
    --primary: #73abfe;
    --white: #fff;
    --body-color: #f6f6f6;
    --background-grey: #f0f0f0;
    --sidebar-color: #f9f9f9;
    --title-grey: #a9abac;
    --light-text: #a2a5b9;
    --widget-grey: #dce0f2;
    --placeholder: #cfcece;
    --border-color: #dddcdc;
    --text-color: #2c3e50;
    --dark-text: #283252;

    // fonts
    --font-bold: 600;

    // radius
    --radius-rounded: 50%;
    --radius: 4px;
    --radius-large: 6px;
    --border-radius: 1em;
    --border-radius-light: 8px;
}
