:root {
    // color
    --white: #fff;
    --body-color: #f6f6f6;
    --background-grey: #f0f0f0;
    --sidebar-color: #f9f9f9;
    --title-grey: #a9abac;
    --light-text: #a2a5b9;
    --widget-grey: #dce0f2;
    --placeholder: #cfcece;
    --border-color: #dddcdc;
    --text-color: #2c3e50;
    --dark-text: #283252;
    --primary-color: #4e9bff;
    --bg-primary: #4e9bff;
    --chkbg: #4e9bff;
    --primary--color-invert: #fff;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #9fe52c;
    --lime-600: #9de725;
    --lime-700: #9be81d;
    --lime-800: #98e814;
    --lime-900: #96ea0b;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #3fe17a;
    --green-600: #32e173;
    --green-700: #23e36a;
    --green-800: #15e361;
    --green-900: #0ae059;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --emerald-500: #2dd598;
    --emerald-600: #25d796;
    --emerald-700: #1dd994;
    --emerald-800: #13d990;
    --emerald-900: #09d98c;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #fc6868;
    --red-600: #fc5c5c;
    --red-700: #e71616;
    --red-800: #d00d0d;
    --red-900: #bb0606;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #fc8b2f;
    --orange-600: #fa8424;
    --orange-700: #fc801b;
    --orange-800: #fc7910;
    --orange-900: #fa7306;
    --yellow-100: #fef9c3;
    --yellow-200: #fef08a;
    --yellow-300: #fde047;
    --yellow-400: #facc15;
    --yellow-600: #faca0c;
    --yellow-700: #ffcd05;
    --yellow-800: #fcc800;
    --yellow-900: #e8ba02;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #33bdfa;
    --sky-600: #2ebefd;
    --sky-700: #23bbfd;
    --sky-800: #11b7fd;
    --sky-900: #04b4ff;
    --violet-100: #ede9fe;
    --violet-200: #ddd6fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-500: #a283fc;
    --violet-600: #9b78fd;
    --violet-700: #946ffd;
    --violet-800: #8e67ff;
    --violet-900: #8359fc;
    --purple-100: #f3e8ff;
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;
    --purple-400: #c084fc;
    --purple-500: #b773ff;
    --purple-600: #b069ff;
    --purple-700: #a557fc;
    --purple-800: #a457fa;
    --purple-900: #9f50f8;
    --fuchsia-100: #fae8ff;
    --fuchsia-200: #f5d0fe;
    --fuchsia-300: #f0abfc;
    --fuchsia-400: #e879f9;
    --fuchsia-500: #e970fc;
    --fuchsia-600: #e762fc;
    --fuchsia-700: #e557fc;
    --fuchsia-800: #e34afc;
    --fuchsia-900: #e339ff;
    --primary-h: 153;
    --primary-s: 48%;
    --primary-l: 49%;
    --purple-h: 261;
    --purple-s: 32%;
    --purple-l: 55%;
    --purple: hsl(var(--purple-h) var(--purple-s) var(--purple-l));
    --blue-h: 198;
    --blue-s: 100%;
    --blue-l: 61%;
    --blue: hsl(var(--blue-h) var(--blue-s) var(--blue-l));
    --red-h: 345;
    --red-s: 94%;
    --red-l: 57%;
    --red: hsl(var(--red-h) var(--red-s) var(--red-l));
    --orange-h: 19;
    --orange-s: 100%;
    --orange-l: 75%;
    --orange: hsl(var(--orange-h) var(--orange-s) var(--orange-l));
    --yellow-h: 43;
    --yellow-s: 100%;
    --yellow-l: 72%;
    --yellow: hsl(var(--yellow-h) var(--yellow-s) var(--yellow-l));
    --green-h: 113;
    --green-s: 59%;
    --green-l: 71%;
    --green: hsl(var(--green-h) var(--green-s) var(--green-l));
    --pink-h: 344;
    --pink-s: 100%;
    --pink-l: 81%;
    --pink: hsl(var(--pink-h) var(--pink-s) var(--pink-l));
    --light-blue-h: 196;
    --light-blue-s: 84%;
    --light-blue-l: 71%;
    --light-blue: hsl(var(--light-blue-h) var(--light-blue-s) var(--light-blue-l));
    --lime-h: 168;
    --lime-s: 56%;
    --lime-l: 72%;
    --lime: hsl(var(--lime-h) var(--lime-s) var(--lime-l));
    --fade-grey-h: 0;
    --fade-grey-s: 0%;
    --fade-grey-l: 93%;
    --fade-grey: hsl(var(--fade-grey-h) var(--fade-grey-s) var(--fade-grey-l));
    --fade-grey-dark: hsl( var(--fade-grey-h) var(--fade-grey-s) calc(var(--fade-grey-l) - 3%) );
    // shadow
    --base-shadow: rgb(0 0 0 / 8%);
    --primary-shadow-from: hsl( var(--primary-h) var(--primary-s) var(--primary-l) / 42% );
    --primary-shadow-to: hsl( var(--primary-h) var(--primary-s) var(--primary-l) / 20% );
    --default-box-shadow: 0 10px 10px rgba(0,0,0,0.10);
    --primary-box-shadow: 0 14px 26px -12px var(--primary-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--primary-shadow-to) !important;
    --purple-shadow-from: hsl( var(--purple-h) var(--purple-s) var(--purple-l) / 42% );
    --purple-shadow-to: hsl( var(--purple-h) var(--purple-s) var(--purple-l) / 20% );
    --purple-box-shadow: 0 14px 26px -12px var(--purple-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--purple-shadow-to) !important;
    --blue-shadow-from: hsl( var(--blue-h) var(--blue-s) var(--blue-l) / 42% );
    --blue-shadow-to: hsl( var(--blue-h) var(--blue-s) var(--blue-l) / 20% );
    --blue-box-shadow: 0 14px 26px -12px var(--blue-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--blue-shadow-to) !important;
    --red-shadow-from: hsl( var(--red-h) var(--red-s) var(--red-l) / 42% );
    --red-shadow-to: hsl( var(--red-h) var(--red-s) var(--red-l) / 20% );
    --red-box-shadow: 0 14px 26px -12px var(--red-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--red-shadow-to) !important;
    --orange-shadow-from: hsl( var(--orange-h) var(--orange-s) var(--orange-l) / 42% );
    --orange-shadow-to: hsl( var(--orange-h) var(--orange-s) var(--orange-l) / 20% );
    --orange-box-shadow: 0 14px 26px -12px var(--orange-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--orange-shadow-to) !important;
    --yellow-shadow-from: hsl( var(--yellow-h) var(--yellow-s) var(--yellow-l) / 42% );
    --yellow-shadow-to: hsl( var(--yellow-h) var(--yellow-s) var(--yellow-l) / 20% );
    --yellow-box-shadow: 0 14px 26px -12px var(--yellow-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--yellow-shadow-to) !important;
    --green-shadow-from: hsl( var(--green-h) var(--green-s) var(--green-l) / 42% );
    --green-shadow-to: hsl( var(--green-h) var(--green-s) var(--green-l) / 20% );
    --green-box-shadow: 0 14px 26px -12px var(--green-shadow-from), 0 4px 23px 0 var(--base-shadow), 0 8px 10px -5px var(--green-shadow-to) !important;
    // radius
    --radius-rounded: 50%;
    --font-bold: 600;
    --radius: 4px;
    --radius-large: 6px;
    --border-radius: 1em;
    --border-radius-light: 8px;
}
