:root {
    // color
    --primary: #73abfe;
    --white: #fff;
    --body-color: #f6f6f6;
    --background-grey: #f0f0f0;
    --sidebar-color: #f9f9f9;
    --title-grey: #a9abac;
    --light-text: #a2a5b9;
    --widget-grey: #dce0f2;
    --placeholder: #cfcece;
    --border-color: #dddcdc;
    --text-color: #2c3e50;
    --dark-text: #283252;

    // fonts
    --font-bold: 600;

    // radius
    --radius-rounded: 50%;
    --radius: 4px;
    --radius-large: 6px;
    --border-radius: 1em;
    --border-radius-light: 8px;

    // Popper
    --popper-theme-background-color: #333333;
    --popper-theme-background-color-hover: #333333;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: .5rem;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
