.sidebar-layout {
  display: flex;
  min-height: 100vh;
}

.view-wrapper {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: calc(100% - 80px);
  padding: 0 0 60px;
  margin-left: 80px;
  transition: all 0.3s;

  &.is-pushed-full {
    margin-left: 320px;
    width: calc(100% - 320px);
  }
}

.page-content {
  width: 100%;
  max-width: 1228px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  z-index: 10;
}

.title-wrap {
  font-size: 1.3rem;
  font-weight: 600;
}

.toolbar {
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: var(--radius-rounded);
    margin: 0 4px;
    transition: all 0.3s;
  }

  &__link:hover {
    background-color: var(--white);
    box-shadow: var(--primary-shadow-from);
  }

  & svg {
    height: 20px;
    width: 20px;
    color: var(--light-text);
    stroke-width: 1.6px;
    transition: stroke 0.3s;
  }

  &__link:hover svg {
    color: var(--title-grey);
  }
}
