.pages-nav-item {
  &__box {
    position: relative;
    align-items: center;
    height: 40px;
  }

  &__box:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    right: -4px;
    border-radius: var(--radius);
    background-color: transparent;
    z-index: -1;
    cursor: pointer;
  }

  &:not(.dragging) &__box:hover:after {
    background-color: var(--background-grey);
  }

  &.is_main &__box:hover:after {
    background-color: transparent !important;
  }

  &__dot,
  &__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: var(--title-grey);
  }

  &__icon {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all .45s ease-in-out;
  }

  &__icon:not(.is_main ) {
    padding: 3px;
    border-radius: 50%;
  }

  &__icon:not(.is_main):hover,
  &:not(.dragging) &__icon:not(.is_main):hover {
    background-color: var(--border-color);
  }

  &__icon.is_open {
    transform: rotate(180deg);
  }

  &__dot {
    position: relative;
    justify-content: center;
  }

  &__dot:before {
    content: '';
    display: inline-flex;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--placeholder);
  }

  &__buttons {
    display: none;
  }

  &:not(.dragging) &__box:hover &__buttons {
    display: flex;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 4px;
    border-radius: var(--radius);
    cursor: pointer;
  }

  &:not(.dragging) &__button:hover {
    background-color: var(--border-color);
  }

  &__button svg {
    max-width: 20px;
    max-height: 20px;
    fill: var(--light-text);
    color: var(--light-text);
  }

  &__button:hover svg {
    fill: var(--title-grey)
  }

  &__name {
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__name.is_active {
    color: var(--primary)
  }

  &__name b {
    color: var(--title-grey);
  }

  &__child:not(.pl-0) {
    padding-left: 15px;
  }

  &__child {
    max-height: 0;
    transition: all .45s ease-in-out;
    overflow: hidden;
  }

  &__child.is_open {
    max-height: 3024px;
  }
}
