.page-content-view {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-weight: 600;
    margin-bottom: .5em;
  }

  h1, .h1 {
    font-size: 1.5rem;
  }

  h2, .h2 {
    font-size: 1.4rem;
  }

  h3, .h3 {
    font-size: 1.3rem;
  }

  h4, .h4 {
    font-size: 1.2rem;
  }

  h5, .h5 {
    font-size: 1.1rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }

  ul, ol {
    counter-reset: num;

    & li {
      position: relative;
      padding-left: 2rem;
    }

    & li:not(:first-child),
    & li:not(:last-child) {
      margin: 1rem 0;
    }
  }

  ul li {
    &:before {
      content: '';
      position: absolute;
      top: .62em;
      left: .62em;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }

  ol li {
    &:before {
      counter-increment: num 1;
      content: counter(num, decimal) '.';
      position: absolute;
      top: 0;
      left: .62em;
      color: currentColor;
    }
  }

  ul, ol,
  p:not(:first-child),
  blockquote:not(:first-child) {
    margin: 1rem 0;
  }

  blockquote {
    padding: 1em;
    background-color: var(--widget-grey);
    border-radius: var(--border-radius);
    border-left: 4px solid var(--dark-text);
  }

  // Components
  .page-video,
  .page-code {
    margin: 1.5rem 0;
  }
}
